* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
}

body header {
    background-color: #293B5F;
    text-align: left;
    color: #fff;
    padding: 20px;
    padding-left: 40px;
}

.container-fluid {
    padding: 30px;
    padding-bottom: 90px;
}

.container-fluid h1 {
    text-align: center;
}

form {
    width: 30% !important;
    margin: auto;
    margin-top: 20px;
}

.container-fluid .form-group {
    margin-bottom: 20px;
}

.container-fluid .form-group label {
    font-weight: 500;
    margin-bottom: 10px;
}

.submit-btn,
.see-finished,
.cancel-btn {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.submit-btn button[type=submit],
.see-finished button[type=button],
.cancel-btn button[type=button] {
    width: 100%;
    font-size: 18px;
}

.all_task_list {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.sort {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#task_list_length,
#task_list_info {
    text-align: left;
}

.action {
    width: 100%;
    background-color: aqua;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

.two-btn {
    margin: auto;
}

button#submit,
button#finished {
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
}

#submit,
#save-edit {
    background-color: #293B5F;
}

#submit:hover,
#save-edit:hover {
    background-color: #293B5F;
}

select#sorting {
    width: 20%;
    margin-left: 20px;
}

.sort label,
.sort select#sorting {
    display: inline;
}

@media screen and (max-width: 500px) {
    form {
        width: 90% !important;
    }
    .two-btn {
        width: 100%;
        margin: auto;
    }
    .all_task_list {
        overflow-x: auto;
    }
    select#sorting {
        width: 60%;
        margin-left: 20px;
        margin-top: 30px;
    }
}