* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 30px;
}

.container h1 {
    text-align: center;
}

form {
    width: 500px !important;
    margin: auto;
    margin-top: 20px;
}

.container .form-group {
    margin-bottom: 20px;
}

.container .form-group label {
    font-weight: 500;
    margin-bottom: 10px;
}

.submit-btn,
.see-finished,
.cancel-btn {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.submit-btn button[type=submit],
.see-finished button[type=button],
.cancel-btn button[type=button] {
    width: 100%;
    font-size: 18px;
}

.all_task_list {
    width: 800px;
    margin: auto;
    margin-top: 40px;
}

.action {
    width: 100%;
    background-color: aqua;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

button#submit {
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
}