* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec;
}

body header {
    background-color: #293B5F;
    text-align: left;
    color: #fff;
    padding: 20px;
    padding-left: 40px;
}

header .row .col-md-2 {
    text-align: right;
    padding-right: 00px;
    padding-top: 10px;
}

header .row .col-md-1 {
    text-align: right;
    padding-right: 50px;
    padding-top: 10px;
}

header .row .col-md-1 span {
    font-size: 30px;
}

.container-fluid {
    padding: 30px;
    padding-bottom: 90px;
}

.container-fluid h1 {
    text-align: center;
}

form {
    width: 40% !important;
    margin: auto;
    margin-top: 20px;
}

.container-fluid .form-group {
    margin-bottom: 20px;
}

.container-fluid .form-group label {
    font-weight: 500;
    margin-bottom: 10px;
}

.submit-btn,
.see-finished,
.cancel-btn {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.submit-btn button[type=submit],
.see-finished button[type=button],
.cancel-btn button[type=button] {
    width: 100%;
    font-size: 18px;
}

.sort {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.action {
    width: 100%;
    background-color: aqua;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

.two-btn {
    margin: auto;
}

button#submit,
button#finished,
button#save-edit,
button#cancel,
button#back {
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
}

#submit,
#save-edit {
    background-color: #293B5F;
}

#submit:hover,
#save-edit:hover {
    background-color: #293B5F;
}

select#sorting {
    width: 20%;
    margin-left: 20px;
    border-radius: 13px;
}

.sort label,
.sort select#sorting {
    display: inline;
}

.card-list {
    /* display: none; */
    background-color: #293B5F;
    color: #FFF;
    width: 80%;
    margin: auto;
    border-radius: 13px;
    margin-top: 30px;
    animation-name: animate;
    animation-duration: 1.5s;
}

@keyframes animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.action-btn {
    width: 80%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 20px;
}

.finished-detail {
    width: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-top: 35px;
    font-size: larger;
}

.action-btn button {
    background-color: transparent;
    border: none;
}

.action-btn span {
    cursor: pointer;
    padding: 15px
}

.task-name .col-md-6,
.prioritas {
    background-color: #FFF;
    padding: 20px 20px;
    padding-left: 30px;
    color: #000;
}

.task-name .col-md-6 {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.prioritas h5 {
    display: inline-block;
    margin-left: 10px;
}

.prioritas {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    padding: 35px;
}

.back-btn {
    width: 20%;
    margin: auto;
    margin-top: 40px;
}

.no-card {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #FFF;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgrey;
    font-style: italic;
}

button.clear {
    background-color: #47597E;
    padding: 0;
    width: 50px;
    padding-top: 5px;
    margin-left: 10px;
}

button.clear span {
    color: #FFFFFF;
    font-size: 25px;
}

.clear-button {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 500px) {
    form {
        width: 90% !important;
    }
    .two-btn {
        width: 100%;
        margin: auto;
    }
    .card-list {
        width: 100%;
    }
    .sort {
        width: 100%;
    }
    select#sorting {
        width: 60%;
        margin-left: 20px;
        margin-top: 30px;
    }
    .prioritas {
        text-align: left;
        border-radius: 0px;
    }
    .no-card {
        width: 90% !important;
    }
}